allure-pytest==2.8.18
allure-python-commons==2.8.18
apipkg==1.5
Appium-Python-Client==1.0.2
attrs==19.3.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
Cmdopt==0.2.0
execnet==1.7.1
futures==3.1.1
HTMLParser==0.0.2
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.0.1
lxml==4.5.2
more-itertools==8.4.0
numpy==1.19.1
packaging==20.4
PicoTest==0.2.0
Pillow==7.2.0
pluggy==0.13.1
psutil==5.7.2
py==1.10.0
Pygments==2.7.1
pyparsing==2.4.7
Pypubsub==4.0.3
pytest==6.0.1
pytest-base-url==1.4.2
pytest-forked==1.3.0
pytest-html==2.1.1
pytest-metadata==1.10.0
pytest-rerunfailures==9.0
pytest-xdist==2.0.0
PyYAML==5.3.1
requests==2.24.0
robotframework==3.2.2
robotframework-pabot==1.10.0
robotframework-pythonlibcore==2.1.0
robotframework-ride==1.7.4.2
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==4.5.0
robotframeworklexer==1.1
selenium==3.141.0
six==1.12.0
soupsieve==2.0.1
toml==0.10.1
tomorrow==0.2.4
urllib3==1.25.10
wxPython==4.0.7
zipp==3.1.0
